body{
	margin: 0;
	background-color: #fff;
}

@font-face{
	font-family: "OpenSans-Regular";
    src: url("fonts/OpenSans-Regular.ttf");
}
.navi{
	 margin: 0;
}
.list-inline ul{
    padding-right: 20px; /* Отступ слева */
    padding-left: 20px;
}
.menu{
	font-family: OpenSans-Regular;
	font-size: 12px;
	
}
.menu li{
	padding-left: 0px;
	
}
.menu a{

	color:#333333;
}
.menu a:hover{
	color:#ff6600;
}
@font-face{
	font-family: "OpenSans-BoldItalic";
    src: url("fonts/OpenSans-BoldItalic.ttf");
}
.lg_text{
font-family: OpenSans-BoldItalic;
	font-size: 36px;
	color: #000;
}
.txtorange{
	font-family: OpenSans-BoldItalic;
	font-size: 12px;
	color: #ff3300;
}
.callback{
	background-color: #333333;
	color:#fff;
	font-family:OpenSans-Regular; 
	font-size:14px;
}
.btn.callback:hover,
.btn.callback:active
{
	color:#fff;
}
.container-fluid{
	background-color: #333333;

}
li.account{
	background-color: #f2f2f2;	
}
li.menu{
	padding-top: 17px;
background:url(img/line_hor.png) no-repeat 100% 100%;
padding-bottom: 13px;
}
@font-face{
	font-family: "OpenSans-Italic";
    src: url("fonts/OpenSans-Italic.ttf");

}
.form-control{
	font-family:OpenSans-Italic ;
	font-size: 14px;
}
.footer{
	font-family: OpenSans-Regular;
	font-size: 12px;
	background-color: #333333;
	color:#fff;
}
.footer_top{
	padding-top: 75px;
}
.footer_bot{
	padding-bottom: 130px;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  margin-top: 20px;
  margin-right: 150px;
}

.rating > span {
  display: inline-block;
  position: relative;
  width: 0.8em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}
.time_pos{
	margin-left: 135px;
	margin-top: -27px;
}
.btn.time_pos_bt{
	background-color: #333333;
	color: #ff6633;
	font-family: OpenSans-Regular;
	font-size: 14px;

}
.btn.time_pos_bt:hover{
	color: #ff6633;
}
@font-face{
	font-family: "OpenSans-Bold";
    src: url("fonts/OpenSans-Bold.ttf");

}

.name_bike{
	font-size:18px ;
	color:#333333;
	font-family: OpenSans-Bold;
	margin-left: 35px;
}
.type_bike{
	font-size: 14px;
	font-family: OpenSans-Regular;
	margin-left: 88px;
}
.price{
	font-family: OpenSans-Bold;
	font-size: 18px;
	color:#333333;
	margin-top: -8px;
}
.price_not_sale{
	font-family: OpenSans-Bold;
	font-size: 18px;
	color:#333333;
	margin-top: 9px;
}
.started{
	text-decoration:line-through;
	font-family:OpenSans-BoldItalic;
	color:#ff6633;
	font-size: 14px;
	margin-left: 30px;
}
.point_not_sale{
	font-size: 14px;
	font-family:OpenSans-BoldItalic;
	color:#ff6633;
	margin-left: 100px;
	margin-top: -27px;
	margin-bottom: 15px;	
}
.point{
	font-size: 14px;
	font-family:OpenSans-BoldItalic;
	color:#ff6633;
	margin-left: 100px;
	margin-top: -30px;
	margin-bottom: 15px;	
}
.btn.btn_baces{
	margin-left: 40px;
	padding-right:40px; 
	padding-left:40px;
	border-radius: 0;
	background-color: #333333;
	color:#fff;
}
.btn.btn_baces:hover{
	color:#fff;
}
.mag_posit1{
	text-decoration: none;
	color:#333333;
}
.mag_posit1:hover {
	text-decoration: none;
	color:#333333;
}
.mag_posit:hover {
	padding-bottom: 45px;
}
.vidor_diag{
	font-family: OpenSans-Regular;
	font-size: 14px;
	color:#000;
	display: none;
}
.mag_posit:hover .vidor_diag{
	display: block;
}
.txt_header{
	margin-bottom:40px; 
	margin-top:80px;
	font-family:OpenSans-Bold; 
	font-size:24px;
}
.sales{
	background: url(img/sales.png) no-repeat ;
	margin-right: 10px;
	position: relative;
	margin-bottom: -40px;
	margin-top: 15px;
}
@font-face{
	font-family: "OpenSans-SemiBold";
    src: url("fonts/OpenSans-SemiBold.ttf");
	
}
.sales_txt{
	font-family: OpenSans-SemiBold;
	color:#000;
	font-size:12px; 
	margin-left: 9px;
	margin-top: 8px;
	position: absolute;
}
.see_all{
	display: block;
	text-align: center;
	font-size:18px; 
	font-family:OpenSans-Regular;
	text-decoration: underline;
	color:#333333;
	margin-top:30px; 
	margin-bottom: 60px;
}
.see_all:hover{
	text-decoration: underline;
	color:#333333;
}
.list_kon{
	list-style-type:none;
}

.footer-txt{
	text-align: center;
}
.modal-window_top{
	font-family: OpenSans-Bold;
	font-size:18px;
	width: 502px;
	height: 56px;
	color:#000;
	background-color: #f2f2f2;
	text-align: center;
}
.close{
	margin-top: -40px;
	margin-right: 17px;
}
.modal-window_bot{
width: 404px;
height: 200px;
border: 1px solid #dddddd;
background-color: #f2f2f2;
margin-left: 49px;
margin-top:32px; 
}
.form-control.forma_reg{
margin-top:15px; 
width: 364px;
height: 41px;
border: 1px solid #dddddd;
background-color: #ffffff;
}
.btn.btn_reg{
width: 364px;
height: 41px;
background-color: #333333;
color: #fff;
margin-left: 15px;
border-radius: 0;
}
.btn.btn_reg:hover{
	color: #fff;
}
.help-block.reg_txt{
	font-size:12px ;
	font-family:OpenSans-Regular;
	color:#000;
	float: right;
	clear: right;
	margin-right: 50px;

}
.help-block.reg_txt a{
	font-size:12px ;
	color:#999;
	font-family:OpenSans-Regular;
	text-decoration: underline;

}
.ibrannie_modal{
	font-size: 14px;
	font-weight: 600;
	font-family: OpenSans-SemiBold;
	color: #000000;
	margin-left: 19px;
	margin-top: 19px;
}
.izbran{
 width: 364px;
 height: 41px;
 border: 1px solid #dddddd;
 background-color: #ffffff;
 margin-top: -10px;
}
.rait_comment{
	margin-right: 270px;
	margin-left: 20px;
	font-size: 14px;
	font-weight: 600;
	font-family: OpenSans-SemiBold;
}
.rating_com {
  unicode-bidi: bidi-override;
  direction: rtl;
	margin-right: 250px;
	margin-top: -20px;
}

.rating_com > span {
  display: inline-block;
  position: relative;
  width: 0.8em;
}
.rating_com > span:hover:before,
.rating_com > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}
.registrat{
color: #000000;
font-family:OpenSans-Bold;
font-size: 24px;
font-weight: 700;
}
.btn.account-btn{
margin-top: 30px;
width: 226px;
height: 40px;
background-color: #333333;
color:#fff; 
font-family:OpenSans-Regular;
font-size:14px;
font-weight: 400;
border-radius: 0;
margin-left: 165px;
}
.btn.account-btn:hover{
	color:#fff; 
}
.txt_reg{
	font-size: 12px;
	font-family:OpenSans-Regular;
	font-weight: 400; 
}
.regis_bot{
	font-size: 18px;
	font-weight: 600;
	font-family: OpenSans-SemiBold;
	background-color: #f2f2f2;
	color:#000;
	padding-top: 20px;
	padding-bottom: 17px;
}
.kroshki.breadcrumb{
	background-color: #fff; 
	font-family: OpenSans-Regular;
}
.filter_h1{
	font-size: 24px;
	font-family: OpenSans-Bold;
}
.filter_h1_bottom{
	font-size: 14px;
	font-family:OpenSans-Regular;
	color:#999999; 
	margin-top: -20px;
}
.filter_cog{
	font-size: 18px;
	font-family: OpenSans-SemiBold;
	margin-left: 64px;
	margin-top: 12px;
}
.vibor_bike{
	margin-left: -28px;
	list-style-type: none;
	color:#fff;
	font-family:OpenSans-Regular;
}
.vibor_bike a{
	color:#fff;
}
.vibor_bike a:hover{
color:#fff;
}	
#price,#price2 {
	padding:5px;
	width:70px;
}
#options {
	padding:10px;
}
#slider_price {
	margin-top:10px;	
} 
.vibor_brend{
	color:#fff;
	margin-left: 12px;
}
.active li{
	color:#333333;
}
.pagination>.active>a{
background-color:#333333;	
}
.fa:hover{
	color:#ff6633;
}
.tovar_har,
.tovar_har a{
	font-family: OpenSans-SemiBold;
	font-weight: 600;
	color:#000;
}
.tovar_har span
{
	font-weight: 400;
	font-family: OpenSans-Regular;
	margin-left: 80px;
}

.tovar_har_zakaz{
	font-family:OpenSans-Regular;
	color: #000;
}
.tovar_har_zakaz span
{
	float: right;
	font-family: OpenSans-SemiBold;
}
.razmer_vibor{
	font-family: OpenSans-Regular;
	color:#999999;
}
li.menu_opisanie {
    list-style-type: none;
    font-family: OpenSans-Regular;
	line-height: 24px;
	color:#000;

   }
   li.menu_opisanie:before {
    content: url(img/shar.png);
    margin-right: 10px;
   }
.name_space{
	font-family:OpenSans-SemiBold;
	width: 350px;	
}
.list_sravnenie{
list-style-type:none;
width: 350px;
}
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
.line_botom_head{
	background: url(img/_0Logo.png) no-repeat;
}